@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: "Cardo", serif;
    background-color: #f0f0f0; 
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Counter Section */
.header-counter-section {
    padding: 20px 0;
    background-color: black; 
    text-align: center;
    width: 100%;
}

.plus-symbol {      
    font-size: 2.5rem;
    color: red; 
    
}

.counter-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.counter-container {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 50px; 
    padding: 20px;
}

.counter-box p {
    font-family: "Cardo", serif;
    font-size: 1.1rem;
    color: white;
    margin-top: -16px;
}

.counter {
    font-size: 3rem;
    color: white;
}

@media only screen and (max-width: 767px) {
    .counter-container {
        flex-direction: column;
        gap: 20px;
    }

    .counter-box h2 {
        font-size: 2rem;
    }
}

/* Title Section */
.timeline_container {
    width: 100vw; 
    position: relative;
    padding: 80px 0; 
    margin-bottom: 80px;
    overflow-x: hidden; 
}

.timeline-header {
    text-align: center;
    margin-bottom: 40px;
}

.timeline-header h2 {
    color: black;
    font-size: 3.5em;
    font-family: "Cardo", serif;
    font-weight: normal;
    margin: 0;
}

.timeline-header h3 {
    color: black;
    font-family: "Cardo", serif;
    font-size: 2vw;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .timeline-header_title {
        font-size: 6vw; 
    }

    .timeline-header_subtitle {
        font-size: 3vw;
    }

    .timeline_container {
        padding: 40px 0; 
    }
}

/* Timeline Line */
.timeline {
    position: relative;
    width: 100%;
}

.timeline-line {
    position: absolute;
    left: 50%; 
    width: 2px;
    top: 0;
    background-color: black;
    height: 0;
    transition: height 0.5s ease, background-color 0.5s ease;
}

@media (max-width: 768px) {
    .timeline-line {
        left: 10%; 
    }
}

@media (max-width: 480px) {
    .timeline-line {
        left: 5%; 
    }
}


/* Timeline Content */
.timeline-content {
    width: 80vw; 
    color: #333;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center ;
    padding: 50px;
}


.timeline-content h1 {                           
    color: rgba(138, 3, 3, 0.697);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4.5vw;  
    margin-top: 1px;
    margin-bottom:auto;
}

.timeline-content p {
    color: black;
    font-size: 1.2rem; 
    margin: 4vw; 
    margin-top: 0;
    margin-bottom: auto;
}

.timeline-content h4 {
    color:black ;
    font-family:"Cardo", serif;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom:auto ;
    
}

.timeline-content h3 {
    font-size: 1rem; 
    font-family: "Cardo", serif;
    color: #555;
}

@media only screen and (max-width: 1024px) {
    .timeline-content {
        width: 100%; 
    }
}

@media (max-width: 768px) {
    .timeline-content {
        width: 90vw; 
        align-items: center; 
        margin-left: 15px;
    }
}

@media (max-width: 480px) {
    .timeline-content  {
        width: 75%;
        margin-left:15px;
        align-items: center; 
    }
}

/* General Timeline Styling */
.timeline-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 50px;
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 1s ease-in-out, transform 1.2s ease-in-out;
}


/* For odd timeline items */
.timeline-item:nth-child(odd) {
    flex-direction: row-reverse; 
}

.timeline-item:nth-child(even) {
    flex-direction: row; 
}

@media (max-width: 768px) {
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        flex-direction: column; 
        align-items: center; 
    }
}


/* Timeline Image */
.timeline-content img {
    width: 75%; 
    height:auto ; 
    flex-shrink: 0;
    object-fit:contain; 
    border-radius: 7px;
}

.timeline-content img img {
    width: 80%; 
    height: auto; 
}

@media only screen and (max-width: 768px) {
    .timeline-content img {
        max-width: 80%;
        align-items: center; 
    }
}

@media only screen and (max-width: 1024px) {
    .timeline-content img {
        max-width: 100%; 
    }
}

@media only screen and (max-width: 480px) {
    .timeline-content img {
        max-width: 70%;
        align-items: center;  
    }
}

/* Make the content fade in when active */
.timeline-item {
    opacity: 0;
    will-change: opacity 0.6s , transform 1s;
    transform: translateY(50px); 
    transition: opacity 1s ease-in-out, transform 1.2s ease-in-out;
}

.timeline-item.active {
    opacity: 1;
    transform: translateY(0); 
}

/*footer*/
.demo-footer {
    padding: 60px 0;
    text-align: center;
    background-color: black;
    color: white;
    font-family: "Cardo", serif;
}

.demo-footer h3,
.demo-footer p {
    margin: 5px 0;
    font-size: 1rem;
}
